{% macro etcd_cluster() -%}
{% for host in groups[etcd_servers_group] -%}
   {% if loop.last -%}
{{ etcd_client_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_client_interface]['ipv4']['address'] }}:{{ etcd_client_port }}
   {%- else -%}
{{ etcd_client_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_client_interface]['ipv4']['address'] }}:{{ etcd_client_port }},
   {%- endif -%}
{% endfor -%}
{% endmacro -%}
###
# kubernetes system config
#
# The following values are used to configure the kube-apiserver
#

# The address on the local server to listen to.
KUBE_API_ADDRESS="{{ kube_api_address }}"

# The port on the local server to listen on.
KUBE_API_PORT="--port={{ kube_api_port }}"

# Port minions listen on
KUBELET_PORT="--kubelet-port={{ kubelet_port }}"

# Comma separated list of nodes in the etcd cluster
KUBE_ETCD_SERVERS="--etcd-servers={{ etcd_cluster() }}"

# Address range to use for services
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{ kube_service_addresses }}"

# default admission control policies
KUBE_ADMISSION_CONTROL="--admission-control={{ kube_admission_controll }}"
